.info_panorama {
    object-fit: cover;
    height: 280px;
    width: 100%;
}

.info_container {
    margin: 5px 5px 0;
    padding: 5px;
}

.info_name {
    font-size: 30px;
    font-weight: bold;
}

.content {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.info_about_me {
    font-size: 18px;
    font-style: italic;
    margin-left: 15px;
}

.info_data {
    margin: 0 5px 0;
    padding: 5px;
}

.status {
    border-radius: 5px;
    font-size: 18px;
    margin: 5px;
}

.owner_status {
    background-color: lightgreen;
}

.other_user_status {
    background-color: gray;
}

.status input {
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: inset 0 0 2px black;
    font-size: 18px;
    outline: none;
    width: 90%;
    height: 17px;
}

.status span {
    font-weight: bold;
}

.status_content {
    padding: 5px;
}

.active_status {
    cursor: pointer;
    transition: all .3s ease;
}

.active_status:hover {
    background-color: green;
}

.white {
    background-color: green;
}

.posts {}

.post {
    background-color: gray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.post_form {
    display: flex;
    margin: 5px;
    position: relative;
}

.post_name {
    font-size: 20px;
    font-weight: bold;
}

.post_content {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.post_text {
    font-size: 18px;
    margin-left: 10px;
}

.post_options {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.post_like_count {
    display: flex;
    font-size: 18px;
}

.post_like_count span {
    font-weight: bold;
    margin-left: 5px;
    text-shadow: 0 0 2px black;
}

.like_count_color_green {
    color: lightgreen;
}

.like_count_color_red {
    color: lightcoral;
}

.like_dislike_container {
    margin-left: 10px;
}

.like_dislike_btn {
    border: none;
    cursor: pointer;
    transition: all .3s ease;
}

.like_btn {
    background-color: lightgreen;
    border-radius: 5px 0 0 5px;
}

.like_btn:hover {
    background-color: #79c679;
}

.dislike_btn {
    background-color: lightcoral;
    border-radius: 0 5px 5px 0;
}

.dislike_btn:hover {
    background-color: indianred;
}

.like_dislike_img {
    height: 15px;
    padding: 2px 8px 0;
}

.btn_delete {
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease;
}

.btn_delete:hover {
    background-color: indianred;
}

.btn_delete:active {
    background-color: gray;
}

.trash {
    height: 20px;
    padding: 2px 10px 0;
}

.hr {
    margin: 10px 0 15px;
}

.image_container {
    position: relative;
}

.margin {
    margin-bottom: 23px;
}

.image {

}

.update_image {
    position: absolute;
    left: 0;
    top: 100%;
    font-size: 14px;
    width: 240px;
}

.data_contacts_block {
    margin-top: 5px;
}

.data_name {
    font-size: 18px;
}

.data_contacts {
    margin-left: 15px;
}

.data_edit_btn {
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    text-transform: uppercase;
    transition: all .3s ease;
    margin-top: 10px;
    width: 100%;
}

.data_edit_btn:hover {
    background-color: green;
}

.data_edit_btn:active {
    background-color: darkred;
}

.data_edit_btn:disabled {
    background-color: gray;
}

.edit:before {
    content: "Edit profile";
}

.save:before {
    content: "Save";
}

.data_description {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 5px;
}

.data_description_name {
    margin-bottom: 10px;
}

.data_description_content {
    margin-left: 15px;
    display: inline-block; word-wrap: break-word; width: 98%;
}

.data_contact_block {
    display: grid;
    grid-template-columns: 1fr 11fr;
    margin-bottom: 5px;
}

.data_contact_label {
    margin-left: 15px;
}

.data_input {
    display: grid;
    grid-template-columns: 1fr 11fr;
    margin-bottom: 7px;
}

.data_search {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.data_search b {
    margin-right: 5px;
}

.data_search_name {
    margin-right: 3px;
}