.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: rgba(211, 211, 211, 0.5);
    border: 1px solid black;
    border-radius: 5px;
    position: sticky;
    height: 350px;
    margin: 3px 3px 3px 0;
    top: 5px;
}

.navbar a {
    border-radius: 5px;
    padding: 5px 0;
    text-decoration: none;
    text-align: center;
    transition: all .3s ease;
    width: 97%;
}

.navbar a:hover {
    box-shadow: inset 0 0 5px black;
}

.navbar a:active {
    box-shadow: inset 0 0 10px black;
}

.navbar_name {
    color: black;
    font-size: 20px;
}

.active {
    background-color: white;
    box-shadow: inset 0 0 10px black;
}

.active_navbar_cs {
    background: linear-gradient(140deg, white 85%, black 87%);
    box-shadow: inset 0 0 10px black;
    position: relative;
    border: 1px solid black;
}

.active_navbar_cs::before {
    display: flex;
    justify-content: right;
    width: 97%;
    content: "C";
    position: absolute;
    top: 15px;
    color: white;
    font-weight: bold;
    font-size: 13.5px;
}

.navbar_cs {
    box-shadow: inset 0 0 3px black;
    background: linear-gradient(140deg, transparent 85%, black 87%);
    position: relative;
    border: 1px solid white;
}

.navbar_cs::before {
    display: flex;
    justify-content: right;
    width: 97%;
    content: "C";
    position: absolute;
    top: 15px;
    color: white;
    font-weight: bold;
    font-size: 13.5px;
}